#form {
	width: 11%;
	float: right;
}

#form-position {
	position: fixed;
}

#form p {
	margin: 0px;
	padding: 3px;
	
}

h1 {
	float: left;
}

table {
	margin: auto;
	float : left;
}

#xhtml-table {
	font-family: sans-serif;
	border-collapse: collapse;
}

#xhtml-table th, #xhtml-table td {
	font-size: 1em;
	border: 1px solid #064725;
	text-align: center;
	padding: 3px 7px 2px 7px;
}

#xhtml-table th {
	font-size: 1.1em;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #005e2e;
	color:#ffffff;
}

.inline {
	font-weight: bold;
	color: #2aba0d;
}

.block {
	font-weight: bold;
	color: #c21310;
}

.haekchen {
	background-color: #2aba0d;
}

.kreuz {
	background-color: #c21310;
}

.row-background {
	background-color: #bce6bc;
}

.monospace {
	font-family: monospace;
}

#footer {
	float: left;
	clear: both;
}