table {
	margin: auto;
}

#a {
	font-family: sans-serif;
	border-collapse: collapse;
}

#a th, #a td {
	font-size: 1em;
	border: 1px solid #088042;
	text-align: center;
	padding: 3px 7px 2px 7px;
}

#a th {
	font-size: 1.1em;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #005e2e;
	color:#ffffff;
}

.inline {
	font-weight: bold;
	color: #2aba0d;
}

.block {
	font-weight: bold;
	color: #c21310;
}

.haekchen {
	background-color: #2aba0d;
}

.kreuz {
	background-color: #c21310;
}

.row-background {
	background-color: #d1e6d1;
}

.monospace {
	font-family: monospace;
}